<strong><%= @log_item.display_name %></strong>
<div class="text-muted">
  <%=
    helpers.display_time(
      @log_item.performed_at,
      format: if @log_item.include_time then :date_and_time else :date_only end
    )
  %>
</div>
<div class="small text-muted">
  <% if @log_item.odometer_reading %>
    <%= t 'miles', miles: @log_item.odometer_reading.reading %>
  <% end %>
</div>
<ul class="small text-muted mb-0">
  <% @log_item.line_items.each do |line_item| %>
    <li><%= render(LineItemPreviewComponent.new(line_item:, mini: true)) %></li>
  <% end %>
</ul>
