<div id="<%= dom_id log_item %>">
  <p>
    <strong>Display name:</strong>
    <%= log_item.display_name %>
  </p>

  <p>
    <strong>Include time:</strong>
    <%= log_item.include_time %>
  </p>

  <p>
    <strong>Performed at:</strong>
    <%= log_item.performed_at %>
  </p>

</div>
