<h1>Editing tire set</h1>

<%= render "form", tire_set: @tire_set %>

<br>

<div>
  <%= link_to t('tire_set.link.show'), @tire_set %> |
  <%= link_to t('tire_set.link.back'), tire_sets_path %>
</div>
